/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* header style  */
header,
.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
  margin-bottom: 30px;
}
header {
  justify-content: space-around;
}
h3 {
  font-weight: bold;
  font-size: 24px;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 1em;
}
nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 14px;
}
/* section one style  */
.section-one {
  width: 50;
}
.left-div h1 {
  font-weight: bold;
  font-size: 52px;
}
.left-div {
  width: 50%;
}
.right-div img {
  width: 90%;
  margin-left: 50px;
}
button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #e02c6d;
  color: white;
  border: none;
  font-weight: bolder;
}

/* media query header and section one*/
@media only screen and (max-width: 576px) {
  header,
  .section-one {
    display: flex !important;
    flex-direction: column !important;
  }
  .right-div {
    margin-top: 30px;
  }
  .right-div img {
    width: 75%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  header,
  .section-one {
    display: flex !important;
    flex-direction: column !important;
  }
  .right-div {
    margin-top: 30px;
  }
}

/* section two style  */
.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.section-two h2 {
  font-weight: 600;
  font-size: 28px;
}
.popular-collections {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
.collection {
  width: 300px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 3px;
  padding: 10px;
  margin: 20px;
}
.collection .banner img {
  width: 300px;
  height: 230px;
  border-radius: 10px;
}
.fa-star {
  font-size: 12px;
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
/* media query section two*/

@media only screen and (max-width: 576px) {
  .section-two {
    width: 100%;
  }
  .popular-collections {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .section-two {
    width: 100%;
  }
  .popular-collections {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
}

/* section three style */
.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.left-div-three{
    width: 40%;
    margin-left: 70px;
 
  }
.right-div-three{
    width: 50%;
  }
 
  /* media query section three*/
  @media only screen and (max-width: 576px) {
    .section-three {
      display: flex;
      flex-direction: column;
    }
    .left-div-three {
      width: 90%;
       margin-left: 0px;
       margin-right: 10px;

      
    }
  }
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    .section-three {
      display: flex;
      flex-direction: column;
    }
  }